* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.container {
    max-width: 980px;
    margin: 20px auto;
}

/* -------------------------------abajo--------------------------------- */

#parte-abajo {
    min-height: 500px;
    background-color: lightcyan;
}

#parte-abajo #tarea {
    padding-left: 0px;
}

#parte-abajo li {
    padding: 20px;
}

.urgente {
    background-color: aquamarine;
}

.diaria {
    background-color: salmon;
}

.mensual {
    background-color: lightpink;
}

#parte-abajo .mensaje {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

#parte-abajo .mensaje .left {
    display: flex;
}

#parte-abajo .mensaje .left input {
    margin-right: 10px;
}

#parte-abajo .mensaje span {
    cursor: pointer;
}